.photo-grid {
    width: calc(100% - 16px * 2);
    display: grid;
    grid-template-columns: 1fr;
    padding: 64px 0 0 0;
    margin: 0 auto;
    gap: 12px;
}

@media (min-width: 767px) {
    .photo-grid {
        width: calc(100% - 24px * 2);
        grid-template-columns: repeat(2, 1fr);
        padding-top: 88px;
        gap: 16px; 
    }
}

@media (min-width: 1023px) {
    .photo-grid {
        width: calc(100% - 48px * 2);
        grid-template-columns: repeat(3, 1fr);
        padding-top: 92px;
        gap: 14px; 
    }
}

@media (min-width: 1279px) {
    .photo-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px; 
    }
}