.header {
    max-width: 288px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 16px 0 0 0;
}

@media (min-width: 767px) {
    .header {
        max-width: 720px;
        padding-top: 28px;
    }
}

@media (min-width: 1023px) {
    .header {
        max-width: 928px;
    }
}

@media (min-width: 1279px) {
    .header {
        max-width: 1184px;
    }
}