.lead__caption {
    text-transform: uppercase;
    min-width: 158px;
    padding: 8px 0 0 16px;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.15em;
    display: flex;
    align-self: flex-start;
}

@media (min-width: 767px) {
    .lead__caption {
        padding-left: 24px;
    }
}

@media (min-width: 1023px) {
    .lead__caption {
        padding-left: 48px;
    }
}

@media (min-width: 1279px) {
    .lead__caption {
        padding-left: 148px;
    }
}