.footer {
    max-width: 186px;
    min-height: 310px;
    width: 100%;
    padding: 64px 0 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

@media (min-width: 767px) {
    .footer {
        max-width: 720px;
        min-height: 18px;
        padding-top: 88px;
        padding-left: 0;
        flex-direction: row;
        margin: 0 auto;
    }
}

@media (min-width: 1023px) {
    .footer {
        max-width: 928px;
        padding-top: 92px;
    }
}

@media (min-width: 1279px) {
    .footer {
        max-width: 1184px;
    }
}